<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="{% url 'index' %}" class="nav-link px-2 text-muted">خانه</a></li>
      <li class="nav-item"><a href="{% url 'license' %}" class="nav-link px-2 text-muted">مجوز ها</a></li>
      <li class="nav-item"><a href="{% url 'about' %}" class="nav-link px-2 text-muted">درباره</a></li>
    </ul>
    <p class="text-center text-muted">&copy; Abinoo all rights reserved</p>
  </footer>
</div>
