{% extends 'base/base.html' %}
{% block title %} About {% endblock%}
{% block content %}

<br>

<h1 align="center"><b>آبینو</b></h1>
<p align="right">
     
با توجه به قوانین سختگیرانه در مورد پساب‌ها و همچنین مشکلات ناشی از آنها برای محیط زیست، همواره یافتن راهکارهایی جهت تصفیه هرچه بهتر پساب‌ها از اهمیت بسیار بالایی برخوردار بوده است.

با توجه به وجود شبکه آب فاضلاب و خشکسالی‌های سال‌های اخیر، تصفیه فاضلاب بیش از پیش مورد توجه قرار گرفته است. یکی از روش‌های مهم تصفیه در این صنعت، استفاده از روش تصفیه بیولوژیکی است. در این روش از موجودات زنده لجن فعال جهت تصفیه فاضلاب استفاده می‌شود که خود شامل روش‌های مختلفی می‌شود که امروزه در حال استفاده هستند.

اما آنچه در این طرح ارائه می‌شود، ارائه روش نوظهوری از ترکیب چند روش تصفیه است که به آن "تصفیه هوازی با رشد معلق" گفته می‌شود. در این روش شرایط لازم برای رشد میکروارگانیسم‌ها به خصوص باکتری‌ها فراهم می‌شود، مانند هوادهی منظم به آنها، و در نهایت به جای استفاده از حوضچه‌های متعدد تصفیه فاضلاب معمول، از غشاهای متخلخلی برای فیلتراسیون استفاده می‌شود که می‌تواند آب را از غشا عبور داده و پساب ته‌نشین شود.
</p>

<img src="/media/ravesh.jpeg" width="30%" height="30%" alt="ravesh">
<img src="/media/azmayesh_mikorbi.jpg" width="45%" height="45%" alt="azmayesh_mikorbi"><br>


<hr>
<br>
<ul>
    <h4>اعضای پروژه</h4>
    <li><b>رضا شکرالهی</b></li>
    <p>رشته : مهنسی برق </p>
    <p>دانشگاه: خواحه نصیرالدین طوسی</p>
    <p>سمت: مهندس فنی</p>
    <br>
    <li><b>علیرضا کلایی</b></li>
    <p>رشته : مهنسی برق </p>
    <p>دانشگاه: خواحه نصیرالدین طوسی</p>
    <p>سمت: فناوری اطلاعات، مدیرفروش و تبلیغات </p>
</ul>

{% endblock %}