{% extends 'base/base.html' %}
{% block title %} HOMEPAGE {% endblock%}
{% block content %}


<img src="/media/tasfiye.jpeg" width="30%" height="30%" alt="tasfiye" align="right"><br><br>
<p align="right">
<b align="right">فرآیند تصفیه</b><br>
فرایند تصفیه این دستگاه فرایندی بیولوژیکی معمولی به عنوان لجن فعال را با فیلتراسیون غشایی ترکیب می کند تا سطح پیشرفته ای از حذف مواد جامد آلی 
و معلق را فراهم کند. <br>
در این سیستم، غشا ها در یک راکتور بیولوژیکی همادهی غوطه ور می شوند. این غشا ها دارای تخلخل های از 0.35 تا 0.5 میکروون هستند که بین بیکروفیلتر و اولترا فیلتراسیون در نظر گرفته شده اند.
</p>

<hr>
<div class="images">
<h3>هوتک ها</h3>
<img src="/media/hotak.jpg" width="50%" height="50%" alt="hootak"><br>

<h3>روش لجن فعال</h3>
<img src="/media/lajan_faal.png" width="50%" height="50%" alt="lajan_faal"><br>

<h3>تانکر های آب شرب</h3>
<img src="/media/tanker.jpg" width="50%" height="50%" alt="tanker"><br>
</div><br><hr>

<div class="video">
    <h4 align="center">ویدیوی در باره دستگاه تصفیه لجن فعال </h4>
    <video width="640" height="360" controls>
    <source src="/media/Media1.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
</div><br><br>

<hr>
<br><br>

<img src="/media/khoshk1.jpg" width="30%" height="30%" alt="khoshk1">
<img src="/media/khoshk2.png" width="30%" height="30%" alt="khoshk2"><br>


<h2 align="center">جهت حمایت از مناطق محروم فرم زیر را پر کنید.</h2><br>
<div class="form-control">
    <form method="POST">
        {% csrf_token %}
        {{ form_donation.as_p }}
        <input type="submit" value="ثبت">
    </form>
</div>

{% endblock %}